spring:
  application:
    name: hook-dispatcher

  banner:
    location: static/banner.txt

  datasource:
    url: jdbc:postgresql://localhost:5432/hook-dispatcher
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false


server:
  port: 8080
  servlet:
    context-path: /v1/api

logging:
  level:
    root: INFO
    com.hookdispatcher: DEBUG
    org.hibernate.SQL: DEBUG